################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Barometr/src/Barometr/wwwroot/images/RatingImages/BarometerLogo.png
