<!--clicking on bar name will take user to this page-barProfile(bar details)-->


<h1>{{controller.bars.name}}</h1>

<h3>Are you the bar owner?</h3> <br/>
<button class="alert-success" ng-click="controller.claimBar(controller.bars.id)">Claim This Bar</button>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td>{{controller.bars.name}}</td>
    </tr>
    <tr>
        <th>Price</th> <!--expensive or not-->
        <td>{{controller.bars.price | currency}}</td>
    </tr>
    <tr>
        <th>Hours Of Operation</th>
        <td>{{controller.bars.hours}}</td>
    </tr>
    <tr>
        <th>Location</th>   <!--google map marker-->
        <td>{{controller.bars.location}}</td>
    </tr>
    <tr>
        <th>Contact Information</th>
        <td>{{controller.bars.contact}}</td>
    </tr>
    <tr>
        <th>Reviews</th> <!--snippet from a top user review-->
        <td ng-repeat="review in controller.bars.reviews">
            {{review.comment}}
        </td>
    </tr>
    <tr>
        <th>Bar Menu</th> <!--link to bar menu-->
        <td><a ui-sref="menu({id:menu.id})">Menu</a></td> <!--link to bar menu-->
    </tr>

    <tr>
        <th>Top 3 drinkers</th>
        <td></td>
    </tr>
    <tr>
        <th>Top 3 Popular Drinks </th>
        <td></td>
    </tr>

</table>
