    
<!--clicking on bar name will take user to this page-barProfile(bar details)-->
<li ng-repeat="bar in controller.bars">

    <h1>{{bar.name}}</h1>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <td>{{bar.name}}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{bar.category}}</td>
        </tr>
        <tr>
            <th>Price</th> <!--expensive or not-->
            <td>{{bar.price | currency}}</td>
        </tr>
        <tr>
            <th>Hours Of Operation</th>
            <td>{{bar.hours}}</td>
        </tr>
        <tr>
            <th>Location</th>   <!--google map marker-->
            <td>{{bar.location}}</td>
        </tr>
        <tr>
            <th>Contact Information</th>
            <td>{{bar.contact}}</td>
        </tr>
        <tr>
            <th>Reviews</th> <!--snippet from a top user review-->
            <td>{{bar.reviews}}</td>
        </tr>
        <tr>
            <th>Bar Menu</th> <!--link to bar menu-->
            <td><a>{{bar.menu}}</a></td>
        </tr>

        <tr>
            <th>Top 3 drinkers</th>
            <td></td>
        </tr>
        <tr>
            <th>Top 3 Popular Drinks </th>
            <td></td>
        </tr>

    </table>
