<div class="container-fluid" style="padding-left: 0; padding-right: 0">
    <div class="parallax-one">
        <div class="center">
            <br /><br /><br /><br /><br /><br /><br /><br />
            <div class="container-fluid">
                <img src="../../images/BarometerLogoWhite.png" class="center-block" style="position: center;" />
                <center><strong style="color: white;font-family:'Roboto Condensed', sans-serif; font-size: 50px;">Find your hole in the wall</strong></center>
                <center><a href="/register" class="btn btn-lg btn-warning" style="font-family: Aria;"><span class="glyphicon glyphicon-lock"></span> Sign up</a></center>
            </div>
        </div>
    </div>

    <div style="height: 350px; background-color: white;" class="parallax-center">
        <div>
            <h2>Something we do that yelp doesn't do.<br /><small>Here we will talk about what we do better than our competitors. Hopefully enticing owners and patrons alike. [cool image goes here]</small></h2>
        </div>
        <div>
            <h2>A cool feature that a patron would like.<br /><small>[cool image goes here] Well, we have said feature. Proceed to entrancing patrons into returning to website to take advantage of said feature.</small></h2>
        </div>
        <div>
            <h2>Something bar owners would like.<br /><small>Here we talk about in a short blurb why this is good for them, followed by yet another [cool image]</small></h2>
        </div>
    </div>

    <div class="parallax-two"></div>
    <div style="height: 150px; background-color: black; font-family: Aria;">
        <br />
        <div id="footer-links">
            <a href="#">Contact us&nbsp;</a> 
            <a href="#">About&nbsp;</a>
            <a href="#">Home</a>
        </div>

        <hr/>
        <h3 style="color: white; display: flex; justify-content: center; align-items: center;">barometr</h3>
        <div id="home-social-buttons" style="color: white;">
            <span class="fa fa-2x fa-twitter"></span>  
            <span class="fa fa-2x fa-instagram"></span>  
            <span class="fa fa-2x fa-facebook"></span>
        </div>
    </div>
</div>


