<h2>Home</h2>
<div class="container" style="height:auto; width:100%">
    <div class="div1" style="float:left;height:100%;width:75%">
        <p>
            <a ui-sref="barProfile({id:bar.id})">Bar Details</a> <!--testing bar profile-->
        <p>
            <br />
        <p>
            <a ui-sref="profile({id:bar.id})">User Profile</a> <!--testing user profile-->
        </p>
        <br />
        <p>

            <a ui-sref="bar({id:bar.id})">Bar Reviews</a> <!--testing bar review modal-->
        </p>
        <p>

            <a ui-sref="landingPage({id:landingPage.id})">Reviews Count</a> <!--testing Reviews Count-->
        </p>
    </div>

    <div class="div2" style="float:right;height:100%;width:25%">
        
        <h2>Bar of the Day</h2>
       
            Name:{{controller.RandomBarService.randomBar.name}}
        <br/>
        Happy Hour:{{controller.RandomBarService.randomBar.happyHour}}
        <br/>
        Rating: 
        <br/>
        Address:
        
     
        <div>

        </div>


    </div>

</div>
