<div class="parallax-one">
    <div class="landingPage">
        <div class="row">
            <div class="col-xs-12">
                <p ng-show="controller.greet()" style="font-size: 25px">
                    <strong style="text-transform:capitalize">{{controller.greet()}}, {{account.getName()}}</strong>
                </p>
                <br />
                <table class="table table-responsive table-hover">
                    <tr>
                        <th>My Reviews</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <th><a ui-sref="myBarReviews">Bar Reviews</a></th>
                        <td>{{controller.barReviewCount}}</td>
                    </tr>
                    <tr>
                        <th><a ui-sref="myDrinkReviews">Drink Reviews</a></th>
                        <td>{{controller.drinkReviewCount}}</td>
                    </tr>
                </table>
            </div>
            <span class="landingPage2" style="font-size: 16px">
                <strong>Bar of the Day</strong><br />

                Name:{{controller.RandomBarService.randomBar.name}}<span ng-if="bar.open_now"><img class="openimg" src="/images/OpenImage.png" /></span><br />
                <br />
                Hour:{{controller.RandomBarService.randomBar.hour}}
                <br />
                Rating:&nbsp;
                <input-stars ng-model="controller.RandomBarService.randomBar.rating" icon-empty="fa fa-glass" icon-base="fa fa-glass" icon-full="fa-glass" max="5" readonly="true"></input-stars>
                <br />

                
                <div id="map" style="width:100%; height:300px"></div>



                <br />
                <br />
                <p>
                    <strong>Drink You May Like</strong>
                </p>
                Drink: {{controller.randomDrink}}
                <br />
            </span>

        </div>
    </div>
</div>

