<h2>{{controller.bar.name}}</h2>

<button class="btn-group-lg" ui-sref="addToMenu">Add Items To Menu</button>


<div style="text-align: center;" ><h2>My Menu Items </h2></div>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Alcohol By Volume</th>
        <th>Type</th>
        <th>Ingredient</th>
    </tr>
    <tr ng-repeat="drink in controller.drinks">
        <td>{{drink.name}}</td>
        <td>{{drink.abv}}</td>
        <td>{{drink.type}}</td>
        <td>{{drink.ingredient}}</td>
    </tr>
</table>