<div class="background-one">
    <div class="myBarList">
        <div class="row">
            <center>
                <h1>My Bars</h1></center>
            <div class="col-sm-12" ng-repeat="bar in controller.ownBars">
                <center>
                    <div class="individual-bar-userbars">
                        <a ng-sref="/barProfile/{{bar.id}}"><strong><center>{{bar.name}}</center></strong></a>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>