<div class="parallax-one">
    <div class="landingPage">

        <h3 style="text-align:center"> My Bar Reviews</h3>
        <br />
        <br />

        <table class="table table-hover">
            <tr>
                <th>Bar Name</th>
                <th>My Comment</th>
                <th>My Ratings</th>

            </tr>

            <tr ng-repeat="review in controller.barReviews">
                <td>{{review.bar.name}}</td>

                <td>{{review.comment}}</td>
                <td><input-stars ng-model="review.rating" icon-empty="fa fa-glass" icon-base="fa fa-glass" icon-full="fa-glass" max="5" readonly="true"></input-stars></td>

            </tr>

        </table>
    </div>
</div>
