<div class="parallax-one">
    <div class="profile">
        <h2>{{controller.profile.name}}'s Profile</h2>

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <td>{{controller.profile.name}}</td>
                <td></td>
            </tr>
            <tr>
                <th>Faction</th>
                <td>{{controller.profile.faction}}</td>
                <td></td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{controller.profile.location}}</td>
                <td></td>
            </tr>
            <tr>
                <th>Date Of Birth</th>
                <td>{{controller.profile.dob | date: "MM/dd/yyyy"}}</td>
                <td></td>
            </tr>
            <tr>
                <th>Reviews</th>
                <td><a ui-sref="myBarReviews">Bar</a></td>
                <td><a ui-sref="myDrinkReviews">Drinks</a></td>

            </tr>
            <tr>
                <th>My List</th>
                <td><a ui-sref="userBars({id:bar.id})">My list of Bars</a></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>