<div class="parallax-one">
    <br />
    <br />



    <div class="col-lg-9" style="align-content:center">
        <div class="card hovercard">
            <div class="card-background">
                <!--background<img />-->
            </div>
            <div class="useravatar">

                <!--user picture <img />-->
            </div>
            <div class="card-info">
                <h2 class="card-title" style="text-transform:capitalize; text-align:center">{{controller.profile.name}}'s Profile</h2>
            </div>
            <br />
            <br />
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">My Reviews</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <div class="hidden-xs">My Bars</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-primary" href="#tab3" data-toggle="tab">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <div class="hidden-xs">My Profile</div>
                </button>
            </div>
        </div>

        <div class="well">
            <div class="tab-content">
                <div class="tab-pane fade in" id="tab1">
                    <h3 style="text-align:center">Reviews</h3>

                    <ul style="font-size:20px">
                        <li><strong><a ui-sref="myBarReviews">My Bar Reviews</a></strong></li>
                        <li><strong><a ui-sref="myDrinkReviews">My Drink Reviews</a></strong></li>
                    </ul>

                </div>
                <div class="tab-pane fade in" id="tab2">
                    <h3 style="text-align:center">My Bars</h3>
                    <ul>
                        <li><strong style="font-size:20px"><a ui-sref="userBars({id:bar.id})">My list of Bars</a></strong></li>
                    </ul>
                    <br />
                </div>
                <div class="tab-pane fade in active" id="tab3">
                    <h3 style="text-align:center">My Profile</h3>
                    <br />
                    <br />
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Name</th>
                            <td style="text-transform:capitalize">{{controller.profile.name}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Faction</th>
                            <td style="text-transform:capitalize">{{controller.profile.faction}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td style="text-transform:capitalize">{{controller.profile.location}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Date Of Birth</th>
                            <td>{{controller.profile.dob | date: "MM/dd/yyyy"}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Reviews</th>
                            <td><a ui-sref="myBarReviews">Bar</a></td>
                            <td><a ui-sref="myDrinkReviews">Drinks</a></td>
                        </tr>
                        <tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
