<h1>Register</h1>

<fieldset>
    <legend>Register with a Social Provider</legend>
    <ul>
        <li ng-repeat="externalLogin in account.externalLogins">
            <a target="_self" href="{{externalLogin.url}}">{{externalLogin.name}}</a>
        </li>
    </ul>

</fieldset>

<fieldset>
    <legend>Local Registration</legend>
    <ul>
        <li ng-repeat="message in controller.validationMessages">
            {{message}}
        </li>
    </ul>

    <form ng-submit="controller.register()">
        <div>
            <label>Name:</label>
            <input ng-model="controller.registerUser.name" required />
        </div>
        <br/>
        <div>
            <label>Email:</label>
            <input ng-model="controller.registerUser.email" required/>
        </div>
        <br />
        <div>
            <label>Password:</label>
            <input ng-model="controller.registerUser.password" type="password" required/>
        </div>
        <br />
        <div>
            <label>Confirm Password:</label>
            <input ng-model="controller.registerUser.confirmPassword" type="password" required/>
        </div>
        <br />
        <div>
            <label>Location:</label>
            <input ng-model="controller.registerUser.location"/>
        </div>
        <br />
        <div>
            <label>Date Of Birth</label>
            <input type="datetime" ng-model="controller.registerUser.dob" required/>
        </div>
        
        <div>
            <br/>
            <label>Choose A Faction:</label>
            <p>
                <input type="radio" name="faction" value="beer" ng-model="controller.registerUser.faction"/>
                <label>Beer &nbsp;</label>
            </p>
            <p>
                <input type="radio" name="faction" value="spirit" ng-model="controller.registerUser.faction"/>
                <label>Spirit &nbsp;</label>
            </p>
            <p>
                <input type="radio" name="faction" value="wine" ng-model="controller.registerUser.faction"/>
                <label>Wine &nbsp;</label>
            </p>
        </div>
        <input type="submit" value="Register"/>
    </form>

</fieldset>
