<fieldset>
    <div class="parallax-one">
        <div class="registerPage">
            <center>
                <h3>Registration</h3><br/>
                <ul>
                    <li ng-repeat="message in controller.validationMessages">
                        {{message}}
                    </li>
                </ul>

                <form ng-submit="controller.register()">
                    <div class="form-group">
                        <input ng-model="controller.registerUser.name" required placeholder="Username" />
                    </div>
                    <div class="form-group">
                        <input ng-model="controller.registerUser.email" required placeholder="Email Address" />
                    </div>
                    <div class="form-group">
                        <input ng-model="controller.registerUser.password" type="password" required placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input ng-model="controller.registerUser.confirmPassword" type="password" required placeholder="Confirm Password" />
                    </div>
                    <div class="form-group">
                        <input ng-model="controller.registerUser.location" placeholder="City"/>
                    </div>
                    <div class="form-group">
                        <label>Date Of Birth</label>
                        <br /> 
                        <input type="date" ng-model="controller.registerUser.dob" required placeholder="Date Of Birth"/>
                    </div>

                    <div class="form-group">
                        <label>Choose A Faction:</label><br/>
                        <span>
                            <input type="radio" name="faction" value="beer" ng-model="controller.registerUser.faction" />
                            <label>Beer &nbsp;</label>
                        </span>
                        <span>
                            <input type="radio" name="faction" value="spirit" ng-model="controller.registerUser.faction" />
                            <label>Spirit &nbsp;</label>
                        </span>
                        <span>
                            <input type="radio" name="faction" value="wine" ng-model="controller.registerUser.faction" />
                            <label>Wine &nbsp;</label>
                        </span>
                    </div>
                    <input class="btn btn-default" type="submit" value="Register" />
                </form>
            </center>
        </div>
    </div>
</fieldset>
