<div class="parallax-one">
    <div class="requests">

        <h2>User Ownership Claim Requests</h2>

        <table class="table table-striped" id="requests">
            <tr>
                <th>User Name</th>
                <th>User Email</th>
                <th>Business Name</th>
                <th>Date Requested</th>
                <th>Accept Request</th>
                <th>Decline Request</th>
            </tr>
            <tr ng-repeat="request in controller.requests track by $index">
                <td>{{request.userName}}</td>
                <td>{{request.userEmail}}</td>
                <td>{{request.barName}}</td>
                <td>{{request.dateRequested}}</td>
                <td><button ng-click="controller.accept(request.id)">Accept Request</button></td>
                <td><button ng-click="controller.deny(request.id)">Deny Request</button></td>
            </tr>
        </table>
    </div>
</div>