<div class="modal-content">
    <div class="modal-header">
        <button type="button" ng-click="modal.closeModal()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Write a Review about {{modal.bar.name}}</h4>
    </div>
    <div class="modal-body">
        <form ng-submit="modal.postReview()" id="review">
            <textarea ng-model="modal.newComment" form="review" rows="5" cols="100" placeholder="Review"></textarea>
            <br /><br />
            <input-stars ng-model="modal.newRating" max="5"></input-stars>
            <input type="submit" value="Publish" form="review" ng-click="modal.closeModal()" />
        </form>
    </div>
    <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="modal.closeModal()" data-dismiss="modal">Close</button>
    </div>-->
</div>