<div flex layout>
  <!--Search Bar-->
    <div flex="20">
        <!--<input type="text" g-places-autocomplete options="controller.options" ng-model="controller.result" />
        <input type="submit" ng-click="controller.logThis()" />-->
        <form ng-submit="controller.getBars(selectedHood)">
            <label for="zip">ZipCode</label>
            <input id="zip" ng-model="selectedHood"/>
            <label for="hoodSelect">Neighborhood</label>
            <select ng-model="selectedHood" id="hoodSelect">
                <option value={{controller.neighborhoods.heights}}>Heights</option>
                <option value="{{controller.neighborhoods.riceVillage}}">Rice Village</option>
                <option value="{{controller.neighborhoods.pearland}}">Pearland</option>
            </select>
            <input type="submit" value="Search"/>
        </form>
    </div>
    <div flex="80">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Add</th>
                </tr>
                <tr ng-repeat="bar in controller.bars">
                    <td><a ng-href="/barProfile/{{bar.Id}}">{{bar.name}}</a></td>
                    <td><button ng-disabled="bar.disabled" class="btn btn-success" ng-click="controller.addBar(bar)">Add</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
            
        
