body{
    width: 100%;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.center {
    margin: auto;
    margin-top: 0;
    width: 50%;
}

.navbar{
    margin: 0 !important;
    position: fixed !important;
    width: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.navbar li{ color: #000}

.login-parallax-one {
    background-image: url("../images/background.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.login-parallax-center{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.login-parallax-center > div {
    padding-top: 15%;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.parallax-one {
    padding-top: -70px;
    background-image: url("../images/background.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.parallax-center{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: lightblue;
}

.parallax-center > div {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-two {
    padding-top: -70px;
    background-image: url("../images/background2.jpeg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-social-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

#map{
    height:500px;
    width:500px;
}

.barResults{
    margin-top: 10px;
}

.requests {
    left: 50%;
    margin-top: 140px;
    margin-right: -50%;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.profile {
    left: 10%;
    width: 75%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.search {
    left: 10%;
    width: 75%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.landingPage {
    left: 10%;
    width: 50%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.landingPage2 {
    left: 115%;
    width: 50%;
    top: 0;
    margin-right: -90%;
    padding-top: 30px;
    padding-bottom: 45px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.loginPage {

    align-content: center;
    left: 40%;
    width: 15%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.registerPage {

    align-content: center;
    left: 40%;
    width: 15%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.myBars {
    left: 10%;
    width: 75%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.about {
     left: 10%;
    width: 75%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.panel-body {
    overflow: scroll;
    height: 100px;
}

#viewport {
  width: 315px;
  height: 488px;
  overflow-y: scroll;
}

#viewport table {
  width: 100%;
}