body {
    width: 100%;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.center {
    margin: auto;
    margin-top: 0;
    width: 50%;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar {
    margin: 0 !important;
    position: fixed !important;
    width: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

    .navbar li {
        color: #000;
    }

.login-parallax-one {
    background-image: url("../images/background.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.login-parallax-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

    .login-parallax-center > div {
        padding-top: 15%;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }


.parallax-one {
    background-image: url("../images/background.jpg");
    max-height: 500%;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-one {
    padding-top: -5%;
    background-image: url("../images/Background2.jpeg");
    height: 200%;
    width: 200%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parallax-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: lightblue;
}

    .parallax-center > div {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.parallax-two {
    padding-top: -5%;
    background-image: url("../images/background2.jpeg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

#map {
    height: 100%;
    width: 100%;
}

.barResults {
    margin-top: 10px;
}

.requests {
    left: 50%;
    margin-top: 8%;
    margin-right: -50%;
    padding-left: 2%;
    padding-right: 2%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.profile {
    left: 20%;
    width: 75%;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    max-height: 100%;
}

.search {
    left: 10%;
    width: 75%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.landingPage {
    left: 10%;
    width: 50%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.myBarReviews {
     left: 10%;
    width: 80%;
    height: 80%;
    top: 5%;
    margin-top: 5%;
    margin-right: -90%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
    overflow-y: scroll;
}

.myDrinkReviews {
    left: 10%;
    top: 5%;
    width: 80%;
    height: 80%;
    margin-top: 5%;
    margin-right: -90%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
    overflow-y: scroll;
}

.landingPage2 {
    left: 115%;
    width: 50%;
    top: 0;
    margin-right: -90%;
    padding-top: 30px;
    padding-bottom: 45px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.loginPage {
    align-content: center;
    left: 40%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.registerPage {
    align-content: center;
    left: 40%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.myBars {
    left: 12%;
    width: 75%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.about {
    left: 10%;
    width: 75%;
    margin-top: 140px;
    margin-right: -90%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8vxUAArkBtnNoqJ0AAAAASUVORK5CYII=);
}

.barProfile {
    left: 10%;
    width: 75%;
    height: 50%;
    margin-top: 5%;
    margin-right: -90%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/xQAAukB5vvocQUAAAAASUVORK5CYII=);}

.image-one-barProfile {
    width: 100%;
    left: 50%;
    padding-bottom: 3%;
    position: absolute;
    padding-right: 3%;
    padding-left: 3%;
}

.details-barProfile {
    width: 15%;
    left: 10%;
    top: 12%;
    padding-bottom: 50px;
    position: absolute;
}

.map-barProfile {
    padding-bottom: 50px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/xQAAukB5vvocQUAAAAASUVORK5CYII=);
    padding: 2%;
}

.reviews-barProfile {
    padding-bottom: 5%;
    left: 0%;
    top: 102%;
    width: 100%;
    position: absolute;
    padding-right: 2%;
    padding-left: 2%;
    overflow-y: auto;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/xQAAukB5vvocQUAAAAASUVORK5CYII=);

}

.individual-bar-userbars {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/xQAAukB5vvocQUAAAAASUVORK5CYII=);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 150px;
    width: 150px;
}

.panel-body {
    overflow: scroll;
    height: 100px;
}

#viewport {
    max-height: 488px;
    overflow-y: auto;
}


#viewport table {
    width: 100%;
    overflow-x: auto;
}

.openimg {
    height: 30px;
    width: 30px;
    padding: 2px;
}

#map {
    height: 650px;
}

#map-container {
    width: 100%;
}

.zipSearch {
    padding-bottom: 20px;
}
